.title {
    font-size: 1em;
}

.controls {
    margin-bottom: 7px;
    gap: 5px;
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: flex-end;

    i {
        cursor: pointer;
    }
}

.game-container {
    position: relative;
    width: 80%;
}

#game-background{
    border-radius: 1.25em;
}

.duck {
    position: absolute;
    width: 100px;
    
    transition: transform 0.1s linear;

    @include phone {
        width: 50px;
    }

    
    @include tablet-portrait {
        width: 50px;
    }

    img {
        width: 100%;
    }
}

.duck.dead {
    transition: top 1s ease;
}

.score {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 24px;
    color: #444444;
}

.game-container {
    cursor: none;
}