.title {
    font-size: 1em;
}

.controls {
    margin-bottom: 7px;
    gap: 5px;
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: flex-end;

    i {
        cursor: pointer;
    }
}

.game-container {
    position: relative;
    width: 80%;
    max-height: 856px;

    .wave-title {
        font-size: 50px;
        text-align: center;
        color: #cccccc;
        position: absolute;
        width: 100%;
        top: 20%;
        opacity: 0.5;
    }

    .pause-layout {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #000000a1;
        border-radius: 1.25em;
        z-index: 10;

        h2 {
            color: white;
            font-size: 60px;
            width: 100%;
            position: relative;
            top: 50%;
            text-align: center;
            position: absolute;
            transform: translateY(-50%);
        }
    }
}

#game-background{
    border-radius: 1.25em;
}

.duck {
    position: absolute;
    width: 100px;
    
    transition: transform 0.1s linear;

    @include phone {
        width: 50px;
    }

    
    @include tablet-portrait {
        width: 50px;
    }

    img {
        width: 100%;
    }
}

.duck.dead {
    transition: top 1s ease;
}

.score {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 24px;
    color: #444444;
}

.game-container {
    cursor: url('../images/crosshair.png'), auto;
}

.dead-score {
    position: absolute;
    top: 50px;
    left: 50px;
    color: green;
    font-size: 16px;
    opacity: 0;
    transition: opacity 0.3s ease; 
}

.show-score {
    opacity: 1;
}

.hide-score {
    animation: hideAnimation 0.1s 100s forwards;
}

@keyframes hideAnimation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}